/**
 * CUSTOM THEME CSS
 *
 * This custom css file overrides values set on the dark theme with the aim of
 * creating a basic new theme.
 */


/**
 * NAVIGATION BAR.
 */

// Hide login page logo icon text.
.logo-icon ~ i { display: none; }

// Nav bar logo area
.navbar-brand-btn {
  display: flex;
  item-align: stretch;

  // Fix the width when the sidemenu is open, we've longer text.
  .sidemenu-pinned & { width: 16rem; }

  // Main navbar logo.
  .navbar-brand-btn-background {
    flex: 0 0 40px;
    display: inline-block;
    img { width: 30px }
  }

  // Main navbar logo-text.
  .navbar-brand-btn-text{
    display: none;
    align-items: center;
    width: auto;
    flex: 1 1 auto;
    padding: 0 8px;

    // The logo text image.
    img {
      width: 100%;
      max-width: 110px;
      height: auto;
      position: relative;
    }

    // Display text when the side menu is pinned.
    .sidemenu-pinned & { display: inline-flex; }
  }

  // Down arrow.
  .fa-caret-down {
    line-height: 40px;
    margin-left: 4px;
  }

  // Element hover.
  &:hover {

    // Left arrow.
    .fa-chevron-left {
      line-height: 40px;

      // Fix the left spacing.
      .sidemenu-pinned & { left: 0; }
    }
  }
}
