/**
 * CUSTOM THEME CSS
 *
 * This custom css file overrides values set on the dark theme with the aim of
 * creating a basic new theme.
 */


/**
 * NAVIGATION BAR.
 */

// Hide login page logo icon text.
.logo-icon ~ i { display: none; }

// Nav bar logo area
.navbar-brand-btn {
  display: flex;
  item-align: stretch;

  // Hide all icons.
  i { display: none; }

  // Main navbar logo.
  .navbar-brand-btn-background {
    flex: 0 0 40px;
    display: inline-block;
    img { width: 30px }
  }

  // Main navbar logo-text.
  .navbar-brand-btn-text{
    display: inline-flex;
    align-items: center;
    width: auto;
    flex: 1 1 auto;
    padding: 0 8px;
    img {
      width: 100%;
      max-width: 110px;
      height: auto;
      position: relative;
    }
  }
}


/**
 * SIDEBAR.
 */

// Remove the navbar icon text.
.sidemenu-pinned .navbar-brand-btn .icon-gf-grafana_wordmark { display: none; }

// Gradient line on sidebar - brand override.
.sidemenu {
  > li {
    &.active,
    &:hover {
      border: none;
      border-image: linear-gradient(rgba(85,144,218, 1) 0%, rgba(85,144,218,.7) 50%, rgba(85,144,218,.4) 100%);
      border-image-slice: 1;
      border-style: solid;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left-width: 2px;
    }
  }
}


/**
 * TABS.
 */

// Tab active links border - brand override.
.gf-tabs-link.active,
.gf-tabs-link.active:hover,
.gf-tabs-link.active:focus {
  border-color: rgba(85,144,218,.7);
  border-bottom: 2px solid #1f1d1d;
}
